<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Tareq Islam on 3/30/19 10:04 PM
  ~
  ~  Last modified 3/30/19 10:03 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mti.foregroundservice">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgoHSMutka9IWkmzq9RSDVvt_rswGoxyc" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBgoHSMutka9IWkmzq9RSDVvt_rswGoxyc" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ExampleService"
            android:enabled="true"
            />

        <receiver android:name=".ExampleBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceStopped">

        </receiver>
    </application>

</manifest>